<div class="list-container">
  <p-table
    [value]="rules"
    [tableStyle]="{ 'max-width': '50rem', margin: 'auto' }"
    showGridlines
  >
    <ng-template #header>
      <tr>
        <th>Rule ID</th>
        <th>Field</th>
        <th>Operator</th>
        <th>Value</th>
        <th style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-rule>
      <tr>
        <td>{{ rule.rule_id }}</td>
        <td>{{ rule.field }}</td>
        <td>{{ rule.operator }}</td>
        <td>{{ rule.value }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            (click)="onEditClick(rule.rule_id)"
            severity="secondary"
            rounded
            class="pencil-icon"
          />
          <p-button
            icon="pi pi-trash"
            (click)="onRemoveClick(rule.rule_id)"
            severity="secondary"
            rounded
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
