<main>
  <div class="container">
    <h1>Simple Data Filtering System</h1>
    <nav>
      <a class="button" routerLink="/create" routerLinkActive="activebutton"
        >Create Rule</a
      >
      |
      <a class="button" routerLink="/remove" routerLinkActive="activebutton"
        >Remove Rule</a
      >
      |
      <a class="button" routerLink="/rules" routerLinkActive="activebutton"
        >View Rules</a
      >
      |
      <a class="button" routerLink="/view" routerLinkActive="activebutton"
        >View Result</a
      >
    </nav>
    <router-outlet />
  </div>
</main>
